{% extends 'base.html.twig' %}
{% block menu %}{% include 'menu/index.html.twig' %}{% endblock %}
{% block section %}
<div class="row marg-row">
	<div class="col-lg-3">
		
	</div>
	<div class="col-lg-6">
		{% block maps %}{% include 'maps/index.html.twig' %}{% endblock %}
	</div>
	<div class="col-lg-3">
		
	</div>
</div>
{% endblock %}  
{% block footer %}{% include 'footer/index.html.twig' %}{% endblock %}