{% extends 'base.html.twig' %}
{% block menu %}{% include 'menu/index.html.twig' %}{% endblock %}
{% block section %}
<div class="row marg-row">
	<div class="panel marg-pad-h3 col-md-4 col-lg-4 bg-tr">
	{% block sport %}{% include 'sport/index.html.twig' %}{% endblock %}
	</div>
	<div class="col-lg-2 col-md-2">
		
	</div>
	<div class="col-lg-6 col-md-3">
	{% block maps %}{% include 'maps/index.html.twig' %}{% endblock %}
	</div>
</div>
{% endblock %}  
{% block footer %}{% include 'footer/index.html.twig' %}{% endblock %}