<div class="col-md-6 portfolio-item padd-vigniette">
    <a href="#">
        <img class="img-responsive" src="{{ asset('/wildrandoImages/cheval.jpg') }}" alt="">
    </a>
    <h3 class="btn-success marg-pad-h3 text-center">
        <a class="color-w" href="#">Rando Equestre</a>
    </h3>
</div>
<div class="col-md-6 portfolio-item padd-vigniette">
    <a href="#">
        <img class="img-responsive" src="{{ asset('/wildrandoImages/randoneur.jpg') }}" alt="">
    </a>
    <h3 class="btn-info marg-pad-h3 text-center">
        <a class="color-w" href="#">Rando Pédestre</a>
    </h3>
</div>
<div class=" col-md-6 portfolio-item padd-vigniette">
    <a href="#">
        <img class="img-responsive" src="{{ asset('/wildrandoImages/velo.jpg') }}" alt="">
    </a>
    <h3 class="btn-warning marg-pad-h3 text-center">
        <a class="color-w" href="#">Rando Velo</a>
    </h3>
</div>
<div class="col-md-6 portfolio-item padd-vigniette">
    <a href="#">
        <img class="img-responsive" src="{{ asset('/wildrandoImages/vtt.jpg') }}" alt="">
    </a>
    <h3 class="btn-danger marg-pad-h3 text-center">
        <a class="color-w" href="#">Rando Vtt</a>
    </h3>
</div>
