<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i> Choisir son parcours

    </div>

    <div id="maps" class="panel-body">
        
    </div>

</div>