/*=============================*\
		   STYLE GLOBAL
\*=============================*/
html {
	min-height: 100vh;
}
body {
	min-height: 100vh;
	background-color: #FEFCFF;
}
.wrapper {
	position: relative;
	min-height: 100vh;
	padding: 0 !important;
}
/*Class qui supprime les marges negative de bootsrap et ajoute un padding*/
.marg-row {
	margin: 0 !important;
	padding: 20px;
}
